body{
    background-color: rgb(0, 0, 0);
    color: white;
}
.sidebar{
    height: 100vh;
    display: flex;
    top: 0;
    flex-direction: column;
    align-items: center;
    position: fixed;
    background-color: black;
    gap: 55px;
}
.content{
    padding-left: 100px;
}
.continue{
    display: flex;
    gap: 10px;
}
.hover:hover{
    transform: scale(1.1);
}